@inherits Blog.Pages.BlogPosts2
@page "/blogposts"

<h1>Blogposts</h1>

@if (blogposts == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Title</th>
                <th>Date</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var blogpost in blogposts)
            {
                <tr>
                    <!-- TODO remove data from title, and capitalize -->
                    <td><a href="/blog/@GetIndex(@blogpost)">@blogpost.DisplayName</a></td>
                    <td>@blogpost.Date</td>
                </tr>
            }
        </tbody>
    </table>
}