@inherits Blog.Pages.ViewBlogpost2
@page "/blog/{index}"

<!-- TODO
index does not work when we populate blogposts on a different page, Index was out of range. Must be non-negative and less than the size of the collection. 
 -->

<h1>@Title</h1>

@if (Content == null)
{
    <p><em>Loading...</em></p>
}
else
{
    @((MarkupString)Content)
}